body
{
    background-color: mistyrose;
}

#score
{
    font-size: 24px;
    float:left;
    margin-left: 150px;
}

#timer
{
    font-size: 24px;
    float:right;
    margin-right: 150px;
}

#drawn_sketch
{
    color:rgb(25, 129, 95);
    font-family: monospace;
}